.App {
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
  font-size: xx-small;
}

th {
  background-color: sandybrown;
}

.row_header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-left: 5px;
}

.posChange {
  border: 1px solid rgba(144, 240, 82, 0.8);
  border-radius: 20px;
  background-color: rgba(204, 245, 177, 0.8);
}

.negChange {
  border: 1px solid rgba(240, 98, 82, 0.8);
  border-radius: 20px;
  background-color: rgba(245, 181, 177, 0.8);
}
